html, body {
    margin:0;
    padding:0;

    font-family:"Open Sans", sans-serif;
    font-weight:300;

    overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-weight:300;
}

input, select, button {
    font:inherit;
}

button {
    padding:5px;
    border:none;
    background-color:#E0E0E0;
}

button:hover, button:focus {
    background-color:#BDBDBD;
}

button.highlight {
    background-color: #ef5350;
    color: white;
    float: right;
    width: 125px;
    height: 40px;
    transition: background-color 0.2s;
}

button.highlight:hover {
    background-color: #c62828;
}

input {
    border:none;
    padding:10px 15px;
}

header {
    position:fixed;
    z-index: 9999;
    top:0;
    left:-10px;
    right:-10px;

    background-color:#EF5350;
    height:60px;
    padding:0px 10px;

    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.4);
    box-shadow:0 0 10px 0 rgba(0,0,0,0.4);

    color:#FFF;
    font-size:1.1em;
    line-height:40px;

    text-align:center;
}

header a {
    color:#FFF;
}

header div, header h1 {
    display:inline-block;
}

#notificationButton {
    padding: 0 0;
    margin: 0 0;
    height: 60px;
    width: 60px;
    top: 0px;
    right: 10px;
    color: #4a1f1e;
    background-color: #ef5350;
    transition: background-color 0.3s;
}

#notificationButton:hover{
    background-color: #c02d2a;

}

.left {
    float:left;
}
.right {
    float:right;
    margin-right:20px;
}

a {
    color:#ef5350;
    text-decoration:underline;
}
a:hover {
    text-decoration:none;
}

.body {
    margin-top:60px;
}

.none {
    text-align:center;
    font-style:italic;
    color:#999;
}

.page-time {
    position:fixed;
    bottom:0;
    left:0;
    background-color:#EEE;
    padding:2px;
    border-right:solid 1px #333;
    border-top:solid 1px #333;
}

/* spinner */
.spinner,.spinner-small{margin:0 auto}.spinner .circle,.spinner-small .circle,.spinner-inline .circle{background-color:rgba(0,1,0,0)}.spinner{position:relative;width:64px;height:64px;-moz-animation:loader-rotate 5s linear infinite reverse;-webkit-animation:loader-rotate 5s linear infinite reverse;animation:loader-rotate 5s linear infinite reverse}.spinner .circle{width:20px;height:20px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;position:absolute;margin:-10px;-moz-transform:scale(0.3);-ms-transform:scale(0.3);-webkit-transform:scale(0.3);transform:scale(0.3)}.spinner .circle-1{top:32px;left:64px;-moz-animation:circles-size 1s linear 0s infinite;-webkit-animation:circles-size 1s linear 0s infinite;animation:circles-size 1s linear 0s infinite}.spinner .circle-2{top:54.62742px;left:54.62742px;-moz-animation:circles-size 1s linear 0.125s infinite;-webkit-animation:circles-size 1s linear 0.125s infinite;animation:circles-size 1s linear 0.125s infinite}.spinner .circle-3{top:64px;left:32px;-moz-animation:circles-size 1s linear 0.25s infinite;-webkit-animation:circles-size 1s linear 0.25s infinite;animation:circles-size 1s linear 0.25s infinite}.spinner .circle-4{top:54.62742px;left:9.37258px;-moz-animation:circles-size 1s linear 0.375s infinite;-webkit-animation:circles-size 1s linear 0.375s infinite;animation:circles-size 1s linear 0.375s infinite}.spinner .circle-5{top:32.0px;left:0px;-moz-animation:circles-size 1s linear 0.5s infinite;-webkit-animation:circles-size 1s linear 0.5s infinite;animation:circles-size 1s linear 0.5s infinite}.spinner .circle-6{top:9.37258px;left:9.37258px;-moz-animation:circles-size 1s linear 0.625s infinite;-webkit-animation:circles-size 1s linear 0.625s infinite;animation:circles-size 1s linear 0.625s infinite}.spinner .circle-7{top:0px;left:32.0px;-moz-animation:circles-size 1s linear 0.75s infinite;-webkit-animation:circles-size 1s linear 0.75s infinite;animation:circles-size 1s linear 0.75s infinite}.spinner .circle-8{top:9.37258px;left:54.62742px;-moz-animation:circles-size 1s linear 0.875s infinite;-webkit-animation:circles-size 1s linear 0.875s infinite;animation:circles-size 1s linear 0.875s infinite}.spinner .circle{-moz-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);-webkit-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5)}.spinner-small{position:relative;width:32px;height:32px;-moz-animation:loader-rotate 5s linear infinite reverse;-webkit-animation:loader-rotate 5s linear infinite reverse;animation:loader-rotate 5s linear infinite reverse}.spinner-small .circle{width:10px;height:10px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;position:absolute;margin:-5px;-moz-transform:scale(0.3);-ms-transform:scale(0.3);-webkit-transform:scale(0.3);transform:scale(0.3)}.spinner-small .circle-1{top:16px;left:32px;-moz-animation:circles-size 1s linear 0s infinite;-webkit-animation:circles-size 1s linear 0s infinite;animation:circles-size 1s linear 0s infinite}.spinner-small .circle-2{top:27.31371px;left:27.31371px;-moz-animation:circles-size 1s linear 0.125s infinite;-webkit-animation:circles-size 1s linear 0.125s infinite;animation:circles-size 1s linear 0.125s infinite}.spinner-small .circle-3{top:32px;left:16px;-moz-animation:circles-size 1s linear 0.25s infinite;-webkit-animation:circles-size 1s linear 0.25s infinite;animation:circles-size 1s linear 0.25s infinite}.spinner-small .circle-4{top:27.31371px;left:4.68629px;-moz-animation:circles-size 1s linear 0.375s infinite;-webkit-animation:circles-size 1s linear 0.375s infinite;animation:circles-size 1s linear 0.375s infinite}.spinner-small .circle-5{top:16.0px;left:0px;-moz-animation:circles-size 1s linear 0.5s infinite;-webkit-animation:circles-size 1s linear 0.5s infinite;animation:circles-size 1s linear 0.5s infinite}.spinner-small .circle-6{top:4.68629px;left:4.68629px;-moz-animation:circles-size 1s linear 0.625s infinite;-webkit-animation:circles-size 1s linear 0.625s infinite;animation:circles-size 1s linear 0.625s infinite}.spinner-small .circle-7{top:0px;left:16.0px;-moz-animation:circles-size 1s linear 0.75s infinite;-webkit-animation:circles-size 1s linear 0.75s infinite;animation:circles-size 1s linear 0.75s infinite}.spinner-small .circle-8{top:4.68629px;left:27.31371px;-moz-animation:circles-size 1s linear 0.875s infinite;-webkit-animation:circles-size 1s linear 0.875s infinite;animation:circles-size 1s linear 0.875s infinite}.spinner-small .circle{-moz-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.3);-webkit-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.3);box-shadow:0px 0px 3px 1px rgba(0,0,0,0.3)}.spinner-inline{position:relative;width:16px;height:16px;-moz-animation:loader-rotate 5s linear infinite reverse;-webkit-animation:loader-rotate 5s linear infinite reverse;animation:loader-rotate 5s linear infinite reverse;display:inline-block}.spinner-inline .circle{width:5px;height:5px;-moz-border-radius:2.5px;-webkit-border-radius:2.5px;border-radius:2.5px;position:absolute;margin:-2.5px;-moz-transform:scale(0.3);-ms-transform:scale(0.3);-webkit-transform:scale(0.3);transform:scale(0.3)}.spinner-inline .circle-1{top:8px;left:16px;-moz-animation:circles-size 1s linear 0s infinite;-webkit-animation:circles-size 1s linear 0s infinite;animation:circles-size 1s linear 0s infinite}.spinner-inline .circle-2{top:13.65685px;left:13.65685px;-moz-animation:circles-size 1s linear 0.125s infinite;-webkit-animation:circles-size 1s linear 0.125s infinite;animation:circles-size 1s linear 0.125s infinite}.spinner-inline .circle-3{top:16px;left:8px;-moz-animation:circles-size 1s linear 0.25s infinite;-webkit-animation:circles-size 1s linear 0.25s infinite;animation:circles-size 1s linear 0.25s infinite}.spinner-inline .circle-4{top:13.65685px;left:2.34315px;-moz-animation:circles-size 1s linear 0.375s infinite;-webkit-animation:circles-size 1s linear 0.375s infinite;animation:circles-size 1s linear 0.375s infinite}.spinner-inline .circle-5{top:8.0px;left:0px;-moz-animation:circles-size 1s linear 0.5s infinite;-webkit-animation:circles-size 1s linear 0.5s infinite;animation:circles-size 1s linear 0.5s infinite}.spinner-inline .circle-6{top:2.34315px;left:2.34315px;-moz-animation:circles-size 1s linear 0.625s infinite;-webkit-animation:circles-size 1s linear 0.625s infinite;animation:circles-size 1s linear 0.625s infinite}.spinner-inline .circle-7{top:0px;left:8.0px;-moz-animation:circles-size 1s linear 0.75s infinite;-webkit-animation:circles-size 1s linear 0.75s infinite;animation:circles-size 1s linear 0.75s infinite}.spinner-inline .circle-8{top:2.34315px;left:13.65685px;-moz-animation:circles-size 1s linear 0.875s infinite;-webkit-animation:circles-size 1s linear 0.875s infinite;animation:circles-size 1s linear 0.875s infinite}