.body {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

.panel section {
    width:360px;
    display:inline-block;
    vertical-align:top;
    border-top:solid 1px #DDD;

    padding:10px 0 10px 10px;
}
.panel section:nth-child(1), .panel section:nth-child(2) {
    border-top:none;
}
.panel section:nth-child(odd) {
    border-right:solid 1px #DDD;
    padding:10px 10px 10px 0;
}
.panel section:last-child {
    border-right:none;
}

.panel section .help, .panel section .tip {
    color:#666;
    font-size:0.8em;
}
.panel section .tip:before {
    content:"Tip: ";
    font-weight:bold;
}

.panel section h2 {
    margin-bottom:12px;
}

.panel section .column {
    display:inline-block;
    vertical-align:top;
}

.site-visibility .columns {
    background: url('../../image/admin-splitter.png') no-repeat 70px 0;
}
.site-visibility .registration {
    margin-left:70px;
}

.panel section input[type=text] {
    border:solid 1px #000;
    padding:5px 10px;
    display:block;
    width:100%;
    box-sizing:border-box;
}

.container .panel, .container nav {
    display:inline-block;
    vertical-align:top;
}
.container .panel {
    width:750px;
}
.container nav {
    width:150px;
}

.container nav .item {
    display:block;
    padding:10px;
    color:#000;
    text-decoration:none;
    border-bottom:solid 1px #DDD;
    border-left:solid 1px #DDD;
}
.container nav .item.last {
    border-bottom:none;
}
.container nav .item:hover {
    background-color:#F9F9F9;
}
.container nav .item.selected {
    background-color:#DDD;
}
.container nav a.return {
    display:inline-block;
    margin-top:10px;
    margin-left:11px;
    font-size:0.9em;
    color:#999;
}

.section-list {
    text-align:left;
    border-collapse:collapse;
}
.section-list td, .section-list th {
    border:solid 1px #DDD;
    padding:5px;
}
.section-list tr:nth-child(odd) {
    background-color:#F9F9F9;
}
.section-list th {
    background-color:#DDD;
}
.section-list .name {
    width:120px;
}
.section-list .bugs-open, .section-list .bugs-closed {
    width:100px;
}