.body {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

.panel section {
    width:360px;
    display:inline-block;
    vertical-align:top;
    border-top:solid 1px #DDD;

    padding:10px 0 10px 10px;
}
.panel section:nth-child(1), .panel section:nth-child(2) {
    border-top:none;
}
.panel section:nth-child(odd) {
    border-right:solid 1px #DDD;
    padding:10px 10px 10px 0;
}
.panel section:last-child {
    border-right:none;
}

.panel section .help, .panel section .tip {
    color:#666;
    font-size:0.8em;
}
.panel section .tip:before {
    content:"Tip: ";
    font-weight:bold;
}

.panel section h2 {
    margin-bottom:12px;
}

.panel section .column {
    display:inline-block;
    vertical-align:top;
}

.site-visibility .columns {
    background: url('../../image/admin-splitter.png') no-repeat 70px 0;
}
.site-visibility .registration {
    margin-left:70px;
}

.panel section input[type=text] {
    border:solid 1px #000;
    padding:5px 10px;
    display:block;
    width:100%;
    box-sizing:border-box;
}

.container .panel, .container nav {
    display:inline-block;
    vertical-align:top;
}
.container .panel {
    width:750px;
}
.container nav {
    width:150px;
}

.container nav .item {
    display:block;
    padding:10px;
    color:#000;
    text-decoration:none;
    border-bottom:solid 1px #DDD;
    border-left:solid 1px #DDD;
}
.container nav .item span {
    display:inline-block;
    width:17px;
    text-align:center;
    margin-right:10px;
}
.container nav .item.last {
    border-bottom:none;
}
.container nav .item:hover {
    background-color:#F9F9F9;
}
.container nav .item.selected {
    background-color:#DDD;
}
.container nav a.return {
    display:inline-block;
    margin-top:10px;
    margin-left:11px;
    font-size:0.9em;
    color:#999;
}

.list-table {
    width:750px;
    font-size:0.9em;
}
.list-table .table-header p, .list-table .overview p {
    display:inline-block;
    vertical-align:top;
    margin:0;
    padding:5px;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

    box-sizing:border-box;
}
.list-table .table-header p.name, .list-table .overview p.name {
    width:20%;
}
.list-table .table-header p.description, .list-table .overview p.description {
    width:50%;
}
.list-table .table-header p.developers, .list-table .overview p.developers {
    width:10%;
}
.list-table .table-header p.bugs, .list-table .overview p.bugs {
    width:20%;
}

.list-table .table-header p.username, .list-table .overview p.username {
    width:17%;
}
.list-table .table-header p.rank, .list-table .overview p.rank {
    width:15%;
}
.list-table .table-header p.last-logon, .list-table .overview p.last-logon {
    width:20%;
}
.list-table .table-header p.my-bugs, .list-table .overview p.my-bugs,
.list-table .table-header p.assigned-bugs, .list-table .overview p.assigned-bugs {
    width:15%;
}
.list-table .table-header p.developing, .list-table .overview p.developing {
    width:18%;
}

.list-table .overview p.developers {
    text-align:right;
}
.list-table .table-header, .list-table .table-row {
    border-top:solid 1px #DDD;
    border-left:solid 1px #DDD;
    box-sizing:border-box;
    width:750px;
}
.list-table div:last-child.table-header, .list-table div:last-child.table-row {
    border-bottom:solid 1px #DDD;
}
.list-table .table-header p, .list-table .table-row .overview p {
    border-right:solid 1px #DDD;
}

.list-table .table-header {
    background-color:#DDD;
}
.list-table .table-row:nth-child(odd) .overview {
    background-color:#F9F9F9;
}
.section-list .table-row .overview:hover {
    cursor:pointer;
    background-color:#F2F2F2;
}
.section-list .table-row:nth-child(odd) .overview:hover {
    background-color:#EBEBEB;
}

.list-table .table-row.highlight .overview, .list-table div:last-child.table-row.highlight .overview {
    background-color:#ffebee;
}
.list-table .table-row.highlight, .list-table div:last-child.table-row.highlight {
    border-color:#e57373;
}
.list-table .table-row:nth-child(odd).highlight .overview {
    background-color:#ffcdd2;
}

.list-table .table-row.top-highlight {
    border-top-color:#e57373;
}
.list-table .table-row.highlight .overview p {
    border-color:#e57373;
}
.list-table .table-row p.highlight {
    background-color:#ef9a9a;
}

.list-table .table-row.highlight .overview:hover, .list-table div:last-child.table-row.highlight .overview:hover {
    background-color:#FBC0C4;
}
.list-table .table-row:nth-child(odd).highlight .overview:hover, .list-table div:last-child:nth-child(odd).table-row.highlight .overview:hover {
    background-color:#F7B4B6;
}

.list-table .options p {
    padding:0;
    margin:0;
}
.list-table .section-header {
    /*background-color:#FFF;*/
    position:relative;
}
.list-table .section-header h2 a {
    color:#000;
}
.list-table .section-header table th {
    text-align:left;
    margin-right:5px;
}
.list-table .section-header table th, .list-table .section-header table td {
    vertical-align:top;
}
.section-header .close {
    position:absolute;
    top:10px;
    right:15px;
    color:#000;
}
.list-table .section-tile {
    position:relative;
    margin-top:-1px;
    margin-left:-1px;
}
.list-table .section-tile, .list-table .right-column {
    display:inline-block;
    vertical-align:top;
}
.list-table .right-column {
    width:599px;
    border-right:solid 1px #DDD;
}
.list-table .highlight .right-column {
    border-right-color:#e57373;
}
.list-table .section-header .section {
    padding:5px;
}
.list-table .section-header .section:nth-child(odd) {
    background-color:#F1F1F1;
}

.developer-list table, .username-selector {
    border:solid 1px #DDD;
    border-bottom:none;
    border-collapse:collapse;
    width:589px;
}
.developer-list table tr, .username-selector tr {
    border-bottom:solid 1px #DDD;
}
.developer-list table tr:last-child {
    border-bottom:none;
}
.developer-list table td, .username-selector td {
    height:30px;
}
.developer-list table .user-image, .developer-list table .user-remove, .username-selector .user-image {
    text-align:center;
    width:30px;
}
.developer-list table .user-image, .username-selector .user-image {
    background: no-repeat center;
}
.developer-list table .user-name, .username-selector .user-name {
    padding:0 5px;
    line-height:30px;
}
.developer-list input {
    padding:5px;
    border:solid 1px #DDD;
    width:577px;
    background-color:#FCFCFC;
}

.username-selector {
    position:absolute;
    background-color:#FFF;
    z-index:5;
    margin-top:10px;
    border-color:#AAA;
}
.username-selector tr {
    cursor:pointer;
    border-color:#AAA;
}
.username-selector tr:nth-child(even) {
    background-color:#FCFCFC;
}
.username-selector tr:hover {
    background-color:#F1F1F1;
}

.add-section, .table-row .buttons button {
    padding:5px 10px;
}
.add-section {
    margin-top:10px;
    float:right;
}
.table-row.new-section .new-section-name {
    padding:5px;
    width:579px;
}
.table-row.new-section textarea {
    border:none;
    margin-top:1px;
    padding:5px;
    resize:none;
    width:579px;
}
.table-row .section.buttons {
    text-align:right;
    background-color:#F1F1F1;
    padding:5px;
}
.table-row .buttons button {
    margin-left:5px;
}
.table-search {
    border:solid 1px #DDD;
}
.table-search input {
    padding:5px;
    width:738px;
}

.user-list .table-row p.rank {
    padding:0;
}
.user-list .table-row p.rank select {
    border:none;
    width:100%;
    height:31px;
}
.user-list .unverified {
    background-color:#eeeeee;
}
.user-list .standard {
    background-color:#90caf9;
}
.user-list .moderator {
    background-color:#9fa8da;
}
.user-list .administrator {
    background-color:#ef9a9a;
}
.user-list .overview .username a {
    color:#000;
}

.permission-defaults table {
    border-collapse:collapse;
}
.permission-defaults table tr:nth-child(even) {
    background-color:#F1F1F1;
}
.permission-defaults table td, .permission-defaults table th {
    border:solid 1px #DDD;
}
.permission-defaults table td {
    padding:0;
}
.permission-defaults table th {
    font-weight:300;
    text-align:left;
    padding:5px;
}
.permission-defaults table select {
    border:none;
    width:100%;
    height:33px;
}

select {
    background-color:#FAFAFA;
}
select:hover {
    background-color:#F1F1F1;
}