p{
	display: inline;
}

button{
	display: inline-block;
	width: 110px;
	text-decoration: none;
	margin-right: 10px;
}

#centerArea{
	margin: auto;
	margin-top: 100px;
	width: 960px;
}

#bugInfo{
	width: 100%;
}

#section{
	text-transform: capitalize;
}

#RID, h3{
	color: #808080;
}

#bugContent{
    overflow: hidden;
}

#leftColumn{
	margin-top: 30px;
	width: 625px;
	float:left;
}

#rightColumn{
	margin-top: 30px;
	width: 240px;
	border-left: 1px solid #808080;
	min-height: 200px;
	float: right;
	padding-left: 20px;
}

#statuses{
	width: 240px;
}

#status{
	border: 1px solid;
	margin-top: 5px;
}

.green{
	color: #76ff03;
	border-color: #76ff03;
}

.red{
	color: #ff1744;
	border-color: #ff1744;
}

.orange{
	color: #ff9100;
	border-color: #ff9100;
}

.grey{
	color: #808080;
	border-color: #808080;
}

.yellow{
	color: #ffea00;
	border-color: #ffea00;
}

h4{
	margin: 10px 0;
}
