body{
	font-family: Open Sans;
	padding-bottom: 100px;
}

h1, h2{
	clear: both;
}

header {
	position:fixed;
}

.invalidMessage {
	margin-top: 40px;
	color: #ef5350;


}

#contentWrapper{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	padding: 0 0;
}

#signUpDetails{
	height: 160px;
}

#signUpDetails, #form2 {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

fieldset {
	width: 480px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

label{
	clear: right;
	float: left;
	font-size: 16px;
	margin-top: 5px;
}

.formInput {
	padding: 0 15px;
	border: 1px solid #ef5350;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 10px;
	height: 36px;
	width: 285px;
	float: right;
	font-size: 16px;
}

#captcha {
	margin-top: 50px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	width: 304px;
}

#joinButton {
	background-color: #ef5350;
	color: white;
	float: right;
	width: 125px;
	height: 40px;
	transition: background-color 0.2s;
}

#joinButton:hover {
	background-color: #c62828;
}
