h2 {
	margin-bottom: 30px;
	margin-top: 30px;	
}

#userCover {
	width: 100vw;
	height: 280px;
	top: 60px;
	left: 0px;
	position: fixed;
	z-index: -10;
	background-color: #9de680;
	color: white;
}

.backgroundStrip {
	margin-top: 50px;
	padding-top: 10px;
	width: 100vw;
	height: 180px;
	background-color: rgba(0,0,0,0.5);
}

#userInfoWrap {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 375px;
	height: 120px;
}

#userInfoWrap h1 {
	font-size: 34px;
	margin-bottom: 0px;
}

.profilePic {
	margin: 0 0;
	padding: 0 0;
	float: left;
	width: 120px;
	height: 120px;
}

.userInfo {
	padding-left: 20px;
	float: left;
}

.infoText {
	margin-top: 0px;
}

#contentBody{
	margin-top: 340px;
	width: 100vw;
	box-shadow: 0px -15px 22px -3px rgba(0,0,0,0.4);
	background-color: white;
	padding-bottom: 300px;

}

.bodyWrap {
	padding-top: 115px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;

}

.bioText {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#activityRows {
	box-sizing: border-box;
	width: 700px;
	margin-left: auto;
	margin-right: auto;	
}

.recentRow:nth-child(1){
	border-top: solid 2px #8ec850;
}

.recentRow {
	padding-left: 30px;
	padding-right: 30px;
	height: 35px;
	border-bottom: solid 2px #8ec850;
}

.recentRow > p {
	line-height: 35px;
	display: inline;
	margin: 0 0;
	padding: 0 0;
}

.activityLeft {
	float: left;
	width: 100px;
}

.activityMid {
	float: left;
	width: 400px;
}

.activityRight {
	float: right;
	clear: none;
}

.assignedRows {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.assignedRow {
	margin-bottom: 5px;
	height: 40px;
	transition: filter 0.4s;
}

.assignedRow:hover{
	filter: brightness(1.15);	
}

.assignedRow > p {
	display: inline;
	padding-left: 50px;
	line-height: 40px;
	color: white;
}

a {
	text-decoration: none;
}

#developingSections {
	width: 700px;
	margin-left: auto;
	margin-right: auto;

}

.sectionTile {
	box-sizing: border-box;
	float: left;
	height: 150px;
	width: 150px;
	color: white;
	text-align: center;
	margin: 5px 5px;
	user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	transition: filter 0.3s;
}

.sectionTileText > h2 {
	margin: 0 0 5px 0px;
	padding: 0 0;
}

.sectionTileText {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sectionTile:hover {
	filter: brightness(1.15);
}

.highlight {
	position: relative;
	top: -30px;
	width: 200px !important;
}

