.comments {
    width:700px;
    margin:0 auto;
}

.comment {
    margin-bottom:25px;
}
.comment > div {
    display:inline-block;
    vertical-align:top;
}
.comment .left-column {
    width:60px;
}
.comment .right-column {
    width:605px;
    margin-left:15px;
}

.comment img {
    filter:drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
}

.comment .header {
    background-color:#ffcdd2;
    padding:15px 20px 15px 15px;
    font-size:0.9em;
}
.comment .content {
    border:solid 1px #CCC;
    border-top:none;
    padding:15px;
}
.comment.new .content {
    padding:0;
    border-top:solid 1px #CCC;
}
.comment .content p {
    margin:15px 0;
}
.comment .content p:first-child {
    margin-top:0;
}
.comment .content p:last-child {
    margin-bottom:0;
}

.comment .rank {
    display:inline-block;
    padding:5px;
    border-radius:2px;
    font-size:0.7em;
    vertical-align:middle;
    margin-right:2px;
}
.comment .rank.admin {
    background-color:#f44336;
}
.comment .rank.mod {
    background-color:#3f51b5;
}
.comment .rank.dev {
    background-color:#4caf50;
}
.comment .rank.op {
    background-color:#ff5722;
}

.comment .right {
    margin-left:10px;
}
.comment .delete a, .comment .edit a {
    color:#000;
}

.comment .plus-one span {
    transition:width 200ms, margin 200ms;
    display:inline-block;
    overflow:hidden;
    vertical-align:top;
    white-space:nowrap;
}
.comment .plus-one .current, .comment .plus-one .next {
    transition:none;
}

.comment .plus-one .current, .comment .plus-one .next, .comment .plus-one i {
    color:#000;
}
.comment .plus-one .hover, .comment .plus-one .next, .comment .plus-one .equals {
    width:0;
}
.comment .plus-one.can:hover .hover, .comment .plus-one.enabled .hover {
    width:22px;
    margin-right:5px;
}
.comment .plus-one .current {
    margin-right:5px;
}

.comment .plus-one.enabled .current, .comment .plus-one.enabled .next, .comment .plus-one.finishing .current, .comment .plus-one.finishing .next {
    transition:width 200ms, margin 200ms;
}

.comment .plus-one.enabled .equals, .comment .plus-one.enabled .next {
    margin-right:5px;
    width:auto;
}
.comment .plus-one.enabled .next, .comment .plus-one.finishing .next,  .comment .plus-one.enabled .equals {
    width:8px;
    margin-right:5px;
}

.comment .plus-one.finishing .current, .comment .plus-one.finishing .hover, .comment .plus-one.finishing .equals {
    width:0;
}
/*.comment .plus-one.finishing .current, .comment .plus-one.finishing .hover, .comment .plus-one.finishing .equals, .comment .plus-one.finishing .next {
    transition:none;
}*/

.comment textarea {
    padding:0;
    border:none;
    width:100%;
    box-sizing:border-box;
    resize:vertical;
}
.comment.new textarea {
    padding:15px;
}
.comment .content .edit {
    display:none;
}
.comment .buttons {
    background-color:#F1F1F1;
    padding:5px;
    font-size:0.8em;
    line-height:30px;
    height:30px;
}
.comment .buttons button {
    float:none;
    height:30px;
    width:100px;
    padding:0;
}
.comment .buttons input {
    display:inline-block;
    vertical-align:-1px;
}