#notificationPanel {
	position: fixed;
	top: 60px;
	right: -400px;
	z-index: 9998;
	
	height: 100vh;
	width: 400px;
	
	background-color: #313131;
	box-shadow:0 0 10px 0 rgba(0,0,0,0.4);
	transition: right 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86) 0s;
	
	text-align: left;
}

#notificationHeader > h2 {
	line-height: 90px;
	font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

#notificationHeader {
	box-sizing: border-box;
	margin: 0 0;
	height: 90px;
	width: 100%;
	background-color: #b94a48;
	color: white;	
	padding-left: 50px;
}

#notifications {
	height: calc(100vh-60px-120px);
}

.notificationCell {
	box-sizing: border-box;
	margin: 0 0;
	padding: 25px 60px;
	color: white;
	height:120px;
}

.notificationCell > p {
	margin: 0px 0px;
}

.notificationCell:nth-child(2n+1){
	background-color: #1A1A1A;
}

.message {
	float: left;
}

.stats {
	margin-top: 10px;
	float: right;
	font-size: 12px;
	clear: both;
}
