#notificationPanel {
	position: fixed;
	top: 60px;
	right: -380px;
	z-index: 9998;
	
	height: 100vh;
	width: 380px;
	
	background-color: #313131;
	box-shadow:0 0 10px 0 rgba(0,0,0,0.4);
	transition: right 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86) 0s;
	
	text-align: left;
}

#notificationHeader > h2 {
	line-height: 80px;
	font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

#notificationHeader {
	box-sizing: border-box;
	margin: 0 0;
	height: 80px;
	width: 100%;
	background-color: #b94a48;
	color: white;	
    padding-right: 20px;
    padding-left: 30px;
}

.sideButton {
	float: right;
	line-height: 80px;
	text-align: center;
	width: 30px;
	color: white;
	transition: color 0.2s;
	cursor: pointer;
}

.sideButton:hover {
	color: #4d2224;
}

#notifications {
	height: calc(100vh - 60px - 80px);
	overflow-y: auto;
}

.notificationCell {
	cursor: pointer;
	transition: background-color 0.2s;
}

.notificationCell:hover {
	background-color: black !important;
}

#notifications .notificationCell {
	box-sizing: border-box;
	margin: 0 0;
	padding: 30px 40px;
	color: white;
	height:120px;
}

#notifications .notificationCell > p {
	margin: 0px 0px;
}

#notifications .notificationCell:nth-child(2n+1){
	background-color: #1A1A1A;
}

#notification .notificationCell .message {
	float: left;
}

#notification .notificationCell .stats {
	margin-top: 10px;
	float: right;
	font-size: 12px;
	clear: both;
}

#screen {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9997;
}

.stats {
	float: right;
}
