body.dragging, body.dragging * {
    cursor:ns-resize;
    -webkit-touch-callout:none;
    -webkit-user-selecct:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.terminal {
    position:fixed;
    left:0;
    bottom:0;
    right:0;

    height:500px;
    background:#000;
    color:#CCC;
    font-family:Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.terminal .slider {
    background-color:#333;
    width:100%;
    height:5px;
    cursor:ns-resize;
}
.terminal .output {
    position:absolute;
    top:5px;
    left:0;
    right:0;
    bottom:0;
    overflow-y:auto;
    padding:10px;
}

.terminal .output, .terminal .in, .terminal .out {
    word-wrap:break-word;
}

.terminal .cursor {
    opacity:0;

    animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
}

.terminal .prompt {
    color:#0F0;
}

@keyframes blink {
    0% {
        opacity:0;
    }
    5% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity:0;
    }
    5% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
}

/* Syntax highlighting */
.terminal .token.comment,
.terminal .token.prolog,
.terminal .token.doctype,
.terminal .token.cdata {
    color:slategray;
}
.terminal .token.puncutation {
    color:#CCC;
}
.terminal .namespace {
    opacity:0.7;
}
.terminal .token.property,
.terminal .token.tag,
.terminal .token.constant,
.terminal .token.symbol,
.terminal .token.deleted {
    color:#f92672;
}
.terminal .token.boolean,
.terminal .token.number {
    color:#ae81ff;
}
.terminal .token.selector,
.terminal .token.attr-name,
.terminal .token.string,
.terminal .token.char,
.terminal .token.builtin,
.terminal .token.inserted {
    color:#a6e22e;
}
.terminal .token.operator,
.terminal .token.entity,
.terminal .token.url,
.terminal .token.variable {
    color:#CCC;
}
.terminal .token.atrule,
.terminal .token.attr-value,
.terminal .token.function {
    color:#e6db74;
}
.terminal .token.keyword {
    color:#66d9ef;
}
.terminal .token.regex,
.terminal .token.important {
    color:#fd971f;
}
.terminal .token.important,
.terminal .token.bold {
    font-weight:bold;
}
.terminal .token.italic {
    font-style:italic;
}